.angular-google-map-container {
	height: 100vh;
	width: 100vw;
}

.gmnoprint, .gmnoprint .gm-style-cc {
    display: none;
}

a[href="https://maps.google.com/maps?ll=45,-73&z=8&t=m&hl=en&gl=US&mapclient=apiv3"]{display:none !important}

.btn-menu {
	color: #2A647C;
	background: none;
	border: none;
	font-size: 36px;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 1000;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(42,100,124,0.9);
	z-index: 50;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: url(../img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	padding-left: 2rem;
	padding-right: 2rem;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay h3 {
	color: #FFFFFF;
	box-shadow: 0 1px 0 0 #FFFFFF;
	padding-bottom: 1rem;
}

.overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 8);
	min-height: 21px;
}

.overlay ul li a, .overlay ul li input, .overlay ul li label  {
	font-weight: 300;
	font-size: 24px;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay ul li input {
	display: inline-block;
} 

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul, .overlay-hugeinc nav h3 {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul, .overlay-hugeinc.open nav h3 {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul, .overlay-hugeinc.close nav h3 {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}