.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.footer {
    text-align: center;
    //padding: 30px 0;  
}

.navbar-text {
    margin-left: 15px;
}

.divider {
    margin: 2rem;
    height: 2px;
    background-color: #F1F1F1;
    text-align: center;
}

.padding-lg {
    padding: 3rem 3.25rem;
}

.divider__text {
    width: 3.5rem;
    height: 2rem;
    color: #3A3A3A;
    background-color: #FFF;
    position: relative;
    top: -1rem;
    left: 50%;
    margin-left: -1.75rem;
}

.no-padding {
    padding: 0;
}